Package: com.yourcompany.nsurlhook
Name: nsurlhook
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Anon
Author: Anon
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
